# SPDX-License-Identifier: BSD-3-Clause
---
BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Always
TabWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AlignConsecutiveDeclarations: false
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: "^<"
    Priority: 2
