#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DBUILD_TESTS=ON -DBUILD_DEMO=ON

override_dh_missing:
	dh_missing --fail-missing
